<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Publisher List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address Line 1</th>
        <th>City</th>
        <th>Zip</th>
    </tr>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.id}"></td>
        <td th:text="${publisher.name}"></td>
        <td th:text="${publisher.addressLine1}"></td>
        <td th:text="${publisher.city}"></td>
        <td th:text="${publisher.zip}"></td>
    </tr>
</table>

</body>
</html>